body{
    width: 100vw;
    height: 100vh;
}
.container-fluid{
    height:100%;
    padding:0px;
}
.row{
    height:100%;
    width: 100%;
}
.column1{
    background-color: bisque;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#welcome{
    font-size:large;
    font-weight:bold;
    margin: 1rem;
    font-size: 2rem;
}
.column1 button{
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    border:none;
}
button:hover{
    box-shadow: 0.2rem 0.2rem 0.4rem red;
}
ul{
    margin: 1rem 0rem;
    width: 100%;
    list-style: none;
}
li{
    margin: 1rem;
    line-height: 2rem;
    font-size: 1.25rem;
}
li:hover{
    font-size: 1.5rem;
    position:relative;
    color:cornflowerblue;
}
.column2{
    background-color: darkgray;
    display:flex;
    flex-direction:column;
    justify-content: start;
}
.search-bar{
    width: 95%;
    margin: 10px;
    border-radius: 10px;
    background-color: lavender;
    height: 3rem;
}
.input-group-text{
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 5px;
    padding: 0.6rem 0.75rem;
    background-color: transparent;
    border:none;
}
.search{
    border:none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: transparent;
}
.search-bar:focus-within, .search:focus{
    background-color: white;
    box-shadow:none;
}
.inbox{
    width: 100%;
}
.email{
    width: 95%;
    background-color: white;
    margin: 10px;
    padding: 10px 5px;
    border-radius: 10px;
    border: solid transparent;
}
.email:hover{
    border: solid;
}
.email.unread p{
    font-weight: bold;
}
.column3{
    background-color: darksalmon;
}